<%- include("./partials/header") %> 
<div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Student Name</h5>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action">Grades</a>
                    <a href="#" class="list-group-item list-group-item-action">Progress</a>
                    <a href="#" class="list-group-item list-group-item-action">Calender</a>
                    <a href="#" class="list-group-item list-group-item-action">Resource</a>
                </ul>
              </div>
        </div>
        <div class="col-9">
            
        </div>
    </div>
</div>


<%- include("./partials/footer") %> 